/* universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "inter", sans-serif;
}
/* common */
:root {
  --primary: #1a0e2e;
  --primary-light: #24153d;
  --secondary: #2b1d4d;
  --accent: #6eec87;
  --white: #ffffff;
}
.container {
  padding: 20px;
  font-size: 16px;
  max-width: 1600px;
}
/* individual */
/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
}
.logo {
  max-width: 31%;
}
.menu {
  display: flex;
  gap: 32px;
}
.menu-list {
  display: none;
}
.menu-link {
  text-decoration: none;
  color: var(--white);
}
.navbar .btn-1 {
  display: none;
}

/*banner*/
#banner {
  background-image: url(assets/hero-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 20%;
  background-color: var(--primary);
}
.img-box {
  position: relative;
  background-image: url(assets/hero-circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.banner-img {
  max-width: 60px;
}
.pill {
  position: absolute;
  top: 0%;
  left: calc(50% + 10px);
  background-color: var(--accent);
  border-radius: 999px;
  width: fit-content;
  padding: 5px 15px;
  box-shadow: #6eec87 0px 3px 27px 0px;
  font-size: 1.15em;
  font-weight: 600;
}
.banner-content {
  margin: 24px auto;
}
.banner-title {
  margin-bottom: 8px;
  font-size: 2.5em;
  font-weight: 800;
  color: var(--white);
  text-align: center;
}
.banner-text {
  color: var(--white);
  text-align: center;
  font-weight: 400;
  opacity: 0.8;
}
.btn-set {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.btn-1 {
  color: var(--white);
  background: linear-gradient(to top right, #f7d54a, #ef60b0, #986ef8);
  padding: 12px 20px;
  border: none;
  border-radius: 999px;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
}
.btn-1:hover {
  background: linear-gradient(to top right, #986ef8, #f7d54a, #ef60b0);
  transform: scale(1.05) translateY(-5px);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
.btn-1 img {
  vertical-align: bottom;
  margin-right: 8px;
}
.btn-2 {
  color: var(--accent);
  background: none;
  padding: 12px 20px;
  border: 1px solid var(--accent);
  border-radius: 999px;
  font-size: 1em;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
}
.btn-2:hover {
  background-color: #3e854c;
  transform: scale(1.05) translateY(-5px);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
.btn-2 img {
  margin-right: 8px;
}

/*about*/
#about {
  background-color: var(--primary);
}
.section-title {
  color: var(--white);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.text {
  margin-top: 16px;
  color: var(--white);
  font-weight: 400;
  line-height: 20px;
  opacity: 0.8;
  text-align: center;
}
.stats {
  margin-top: 80px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.stat {
  height: 84px;
  width: 180px;
}
.numbers {
  color: var(--accent);
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 16px;
}
.details {
  color: var(--white);
  font-weight: 400;
  text-align: center;
  opacity: 0.8;
}

/*why-choose*/
#why-choose {
  background-color: var(--primary-light);
}
.gridbox {
  margin: 16px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.col {
  background-color: var(--secondary);
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.col img {
  max-width: 60px;
}
.sub-title {
  color: var(--white);
  font-size: 1.45em;
  margin: 16px 0;
}
.col .text,
.card .text {
  opacity: 0.6;
  text-align: start;
  line-height: 24px;
}

/*episode*/
#episodes {
  background-color: var(--primary);
}
.episode-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}
iframe {
  display: block;
  margin: 0 auto;
}
.card {
  border-radius: 24px;
  background-color: var(--primary-light);
  overflow: hidden;
  width: calc(100% - 10%);
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
}
.card .sub-title {
  margin: 0;
}
.duration {
  color: var(--accent);
  font-weight: 600;
}
.duration img {
  margin-right: 6px;
  vertical-align: bottom;
}

/*footer*/
.footer {
}
.footer-logo {
}
.address {
}

/* medium device */
@media screen and (min-width: 576px) {
  /*navbar*/
  .menu-list {
    display: flex;
    gap: 2em;
    list-style: none;
    justify-content: space-evenly;
    align-items: end;
  }
  .ham-img {
    display: none;
  }
  .navbar.btn-1 {
    display: none;
  }

  /*banner*/
  #banner {
    padding-top: 55px;
  }

  /*episode*/
  .episode-cards {
    gap: 32px;
  }
  .card-content {
    gap: 12px;
    padding: 24px;
  }
}

/* large device */
@media screen and (min-width: 992px) {
  .container {
    padding: 50px 200px;
  }
  /* navbar */
  .navbar {
    padding: 30px 200px;
    border-bottom: 1px solid #986ef841;
  }
  .logo {
    max-width: 219px;
    max-height: 32px;
  }
  .menu-list {
    display: flex;
    gap: 2em;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar .btn-1 {
    display: inline-flex;
    gap: 5px;
    color: var(--white);
    background: linear-gradient(to top right, #f7d54a, #ef60b0, #986ef8);
    padding: 12px 20px;
    border: none;
    border-radius: 999px;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    font-weight: 400;
    line-height: 19px;
    cursor: pointer;
  }
  .btn-1:hover {
    background: linear-gradient(to top right, #986ef8, #f7d54a, #ef60b0);
    transform: scale(1.05) translateY(-5px);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
  }

  /* banner */
  #banner {
    background-size: cover;
  }
  .img-box {
    min-height: 350px;
  }
  .banner-img {
    max-width: 200px;
  }
  .pill {
    top: 10px;
    left: calc(50% + 50px);
  }
  .banner-title {
    font-size: 3.8em;
  }

  /*about*/
  .section-title {
    font-size: 3em;
  }
  .stats {
    grid-template-columns: repeat(4, 1fr);
  }

  /*why-choose*/
  .gridbox {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    grid-template-areas:
      "c1 c2 c2"
      "c1 c3 c3"
      "c4 c4 c5";
  }
  .col {
    padding: 40px;
    border-radius: 40px;
  }
  #col-1 {
    grid-area: c1;
  }
  #col-2 {
    grid-area: c2;
  }
  #col-3 {
    grid-area: c3;
  }
  #col-4 {
    grid-area: c4;
  }
  #col-5 {
    grid-area: c5;
  }

  /*episode*/
  .episode-cards {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
